* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    /* text style */
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;

    --text-white: #fff;
    --text-black: #000;
    --text-gray: #e4e4e4;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.38rem;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
section {
    padding: 3.125rem 0;
}
.Main-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: 0.375rem 1.875rem;
    border-radius: 3.125rem;
    -webkit-border-radius: 3.125rem;
    -moz-border-radius: 3.125rem;
    -ms-border-radius: 3.125rem;
    -o-border-radius: 3.125rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}
.Main-btn:hover {
    background-color: red;
    border-color: var(--secondary-color);
    color: var(--text-white);
}

h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25;
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

h3 {
    margin-bottom: 1.875rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

h3 span {
    color: var(--secondary-color);
}

h5 {
    font-size: 1.5rem;
    line-height: 1;
    color: var(--primary-text);
    font-weight: 500;
    font-family: var(--secondary-font);
}
h6 {
    font-size: 0.875rem;
    color: var(--primary-text);
    margin-bottom: 0.9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}

p {
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
}

.section-title:after {
    content: "";
    background-image: url(../images/title-icon.web);
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: 0.9375rem;
}

/* navbar  */

.header_wrapper .navbar {
    display: flex;
    align-items: center;
    padding: 0.9375rem 0;
    background-color: var(--text-white);
    -webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
        opacity 0s ease-in-out;
    -webkit-transition: background 0s ease-in-out 0s,
        margin-top 0s ease-in-out 0s, opacity 0s ease-in-out;
    -moz-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
        opacity 0s ease-in-out;
    -ms-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
        opacity 0s ease-in-out;
    -o-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
        opacity 0s ease-in-out;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--primary-text);
    line-height: 1;
}
.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}
.navbar-nav {
    display: flex;
    gap: 10px;
}
.header_wrapper .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-text);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:active {
    color: var(--secondary-text);
}

.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.85);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }
    50% {
        top: -15%;
    }
    100% {
        top: 0;
    }
}

/* banner */

.banner_wrapper {
    height: 40.625rem;
}

.banner_wrapper .swiper {
    width: 100%;
    height: 100%;
}

.banner_wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_wrapper .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.5;
    z-index: 0;
}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 0.9375rem;
    height: 0.9375rem;
}

.banner_wrapper .swiper .slide-caption {
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_wrapper .swiper .slide-caption p {
    max-width: 37.5rem;
    margin: 0 auto;
    color: var(--bg-white);
}

.booking-area {
    background: var(--bg-white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -4rem;
    padding: 3.12rem 1.875rem;
    position: relative;
    z-index: 9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.booking-area .form-control,
.booking-area .form-select {
    border: 0.0625rem solid var(--primary-color);
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: var(--text-black);
    font-weight: 500;
}

booking-area .form-control:focus,
.booking-area .form-select:focus {
    outline: none;
    box-shadow: none;
}

.facilities-area {
    margin-top: 130px;
}

.facilities-area .facilities-images .fc-img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
    overflow: hidden;
    transition: 0.5s all;
    width: 100% !important;
    height: 60% !important;
}

/* .facilities-column img {
    
    border-radius: 8px;
    display: block;
    overflow: hidden;
    transition: 0.5s all;
} */
.facilities-area .facilities-images .fc-img:hover {
    transform: scale(1.07);
}
.facilities-images {
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.facilities-images:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.fc-img {
    width: 100%;
}
.area {
    display: flex;
    /* padding: 10px; */
    /* flex-direction: column; */
    gap: 10px;
}

.about-image {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rooms_wrapper .room-items {
    display: block;
    position: relative;
    overflow: hidden;
}

.rooms_wrapper .room-items img {
    width: 100%;
    border-radius: 8px;
    transition: all 400ms ease-in 0s;
    -webkit-transition: all 400ms ease-in 0s;
    -moz-transition: all 400ms ease-in 0s;
    -ms-transition: all 400ms ease-in 0s;
    -o-transition: all 400ms ease-in 0s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.rooms_wrapper .room-items:hover img {
    transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
}

.rooms_wrapper .room-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0;
    z-index: 1;
    transition: all 400ms ease-in 0s;
    -webkit-transition: all 400ms ease-in 0s;
    -moz-transition: all 400ms ease-in 0s;
    -ms-transition: all 400ms ease-in 0s;
    -o-transition: all 400ms ease-in 0s;
}

.rooms_wrapper .room-items:hover::before {
    opacity: 0.6;
}

.rooms_wrapper .room-item-wrap {
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.rooms_wrapper .room-items .room-content {
    border: 0.125rem solid var(--bg-white);
    padding: 5rem 1.875rem;
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    -o-transform: scale3d(1.2, 1.2, 1.2);
    transition: all 500ms ease-in 0s;
    -webkit-transition: all 500ms ease-in 0s;
    -moz-transition: all 500ms ease-in 0s;
    -ms-transition: all 500ms ease-in 0s;
    -o-transition: all 500ms ease-in 0s;
    opacity: 0;
}

.rooms_wrapper .room-items:hover .room-content {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
}

/* service */

.service-item-wrap {
    background-color: var(--bg-color);
}

.service-menu-area ul li a {
    display: block;
    margin-bottom: 2.8125rem;
}
.service-menu-area ul li a .service-icon {
    height: 5.625rem;
    width: 5.625rem;
    background-color: var(--secondary-color);
    line-height: 5.625rem;
    text-align: center;
    border-radius: 100%;
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.service-img {
    width: 100%;
    height: 100%;
}

.service-menu-area ul li a .service-icon:hover,
.service-menu-area ul li a.active .service-icon {
    background-color: #021832;
    color: var(--text-white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.service-menu-area ul li:nth-child(1) {
    margin-left: 0.2625rem;
}
.service-menu-area ul li:nth-child(2) {
    margin-left: -2.9475rem;
}
.service-menu-area ul li:nth-child(3) {
    margin-left: -6.275rem;
}
.service-menu-area ul li:nth-child(4) {
    margin-left: -8.8125rem;
}
.service-menu-area ul li a p,
.service-menu-area ul li a h5 {
    padding-left: 6.875rem;
    display: block;
    text-align: left;
}

.service-menu-area ul li a p span {
    color: var(--secondary-color);
}

.counter {
    background-image: url(../images/counter-bg.webp);
    background-position: center center;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
}

.counter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.6;
    z-index: 1;
}

.counter h1,
.counter p {
    position: relative;
    z-index: 3;
    color: var(--text-white);
}
